[Unit]
Description=Fancontrol service
Documentation=https://github.com/devcexx/fancontrol
After=systemd-udevd.service

[Service]
Type=simple
#Restart=always
ExecStart=/usr/bin/fanctrl --config /etc/fanctrl.conf -n
KillMode=control-group
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
